*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
:where(a, a:active,a:visited){
  text-decoration: none;
  color: black;
}
:where(button){
  cursor: pointer;
  border-radius: 10px;
}
nav > h1{
  text-align: center;
  margin-bottom: 3rem;
}
.courses-grid{
  display: flex;
  justify-content: center;
}
.course-con{
  width: 30rem;
  box-shadow: 10px 0px 50px rgb(148, 147, 147);
  border-radius: 10px;
  padding: 0.5rem;
  
}
.course-con >img{
  width: 100%;
  border-radius: 10px;
}
.course-con >h2{
  margin: 1rem 0;
}
.course-con >p{
  line-height: 1.5rem;
}
.learn-btn{
  width: 4rem;
  padding: 0.4rem 0;
  margin-top: 1rem;
  border: 1px solid purple;
  background-color: transparent;
  
}
.colum-con{
  display: grid;
  gap: 2rem;
}

.more-btn{
  margin-right: 1rem;
  background-color: purple;
  color: white;
  width: 5rem;
  padding: 0.4rem;
 
  border: none;

}
@media (max-width:535px) {
  .course-con{
    width: 28rem;
    
  }
}
@media (max-width:485px) {
  .course-con{
    width: 25rem;
    
  }
}
@media (max-width:433px) {
  .course-con{
    width: 23rem;
    
  }
}
@media (max-width:389px) {
  .course-con{
    width: 20rem;
    
  }
}
@media (max-width:345px) {
  .course-con{
    width: 18rem;
    
  }
}
@media (max-width:307px) {
  .course-con{
    width: 16rem;
    padding: 0.2rem;
    
  }
}

